* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
.header {
    color: white;
    min-height: 90vh;
    background-color: #1F2937;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px 100px 180px;
}

.nav-items h3 {
    font-size: 34px;
    color: #f9faf8
}
.nav-items ul {
    display: flex;
    gap: 20px;
}
a, li {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

/*middle section of the header */
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.textbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px
}

.textbox .big {
    font-size: 48px;
    font-weight:bolder ;
}
.textbox .small {
    font-size:  18px;
    color: #e5e7eb;
}
.link1 {
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 10px;
    background-color: #3882f6;
}

/* 2nd column of the webpage */
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.container2 .container-item {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.title h2 {
    font-size: 43px;
    margin-bottom: 50px;
    color: #1f2937;
}
.small-con {
    text-align: center;
    font-size: 24px;
    color: #1f2937;
    width: 200px;
    height: 300px;;
}
.small-con img {
    border-radius: 10px;
}

/* third column of the webpage */
.third-column {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #e5e7eb;
}
.third-column .container3 {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: flex-start;
}
.quotes {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
.writer {
    font-size: 30px;
    color: #1f2937;
    font-weight: 900;
    align-self: flex-end;
}

/* forth column of the webpage */
.forth-column {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container4 {
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 20px;
}

.container4 .link1 {
    border: 2px solid white;
}
